.left {
    float: left;
    .dataTables_wrapper .dataTables_paginate{
        float: none;
    }
}

.right {
    float: right;
    .dataTables_wrapper .dataTables_info {
        float: none;
    }
}

.odd, .even {
    background: transparent;
    td{
        border: 0;
    }
}

.trHeader{
    th{
        border: 0;
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: 1px solid $gray-200;
    border-radius: 50%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current{
    border-radius: 50%;
    border: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: $primary;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: $gray-200;
    border: 1px solid $gray-200;
    color: black !important;
}

@include media-breakpoint-down(md) {
    .trHeader{
        display: none;
    }
    .trContent {
        display: flex !important;
        flex-direction: column !important;
    }
}

#DanhSachBaoCaoVanBanDaiHoi.group {
    tbody{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        tr{
            display: flex;
            flex: 1;
            flex-basis: 30%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    thead{
        display:none;
    }
}