
//Progress ---
.progressCacTinhHoanThanh{
  background-color: #55C381;
}  
.progressCacTinhChuaHoanThanh{
  background-color: #FF3A29;
}

.colorCacTinhHoanThanh{
  color: #55C381;
}
.colorCacTinhChuaHoanThanh{
  color: #FF3A29;
}